body{
    font-family: 'Inter', sans-serif;
    margin:0;
}
h1{
    font-size: 40px;
    line-height: 0.6;
}
p{
    text-align: justify;
}
.orange{
    color: orangered;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orangered,rgb(243, 124, 26));
    color: white;
    padding: 10px 20px;
    font-weight: 700px;
    border-radius: 20px;
}
.left-right{
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
}
.half-hrz{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;

}
.half-hrz img{
    width: 60%;
}
#secone-half-bg{
    background-image: url(pic/7.png);
}
.food-item{
    box-shadow: 10px 10px 40px gray;
    width: 25%
    margin-right: 5%;
    margin-left: 5%;
    
   
}